[submodule "public"]
	path = public
	url = https://github.com/til-group/til-group.github.io.git
	branch = master
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
